/*

@package barto theme

*/
.mxbarto-sidebar-wrapper{
    display: flex;
}
.mxbarto-sidebar-preview{
    background-color: #222;
    padding: 20px; 
    margin-left: 20px; 
}

.mxbarto-sidebar-preview h1,
.mxbarto-sidebar-preview h2{
    text-align: center;
    color: #ddd;
}